@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Roboto;
}

.dashboard-container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 5fr;
    grid-template-rows: 130px auto;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 15px;
    font-weight: 450;
    color: white;
    background-color: #1992D4;
    display: grid;
    grid-template-rows: 40px 195px 90px;
    gap: 45px;
}

.admin-functions img, .admin-support img {
    height: 20px;
    width: 20px;
}

.dashboard-label img {
    height: 40px;
    width: 40px;
}

.dashboard-label {
    font-size: 20px;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}

.admin-functions {
    padding-left: 5px;
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: repeat(6, 20px);
    align-items: center;
    gap: 15px;
}

.admin-support {
    padding-left: 5px;
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: repeat(3, 20px);
    align-items: center;
    gap: 15px;
}

.nav-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.front-page {
    background-color: #DAE0E8;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.search-bar img {
    height: 20px;
    width: 20px;
}